#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar

/out/
/8.Games/lib/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
